.feed{
    display: flex;
    flex:0.6;
    flex-direction: column;

    
}
.feed__post{
    padding: 8px;
 
    width: 97%;
    background-color:white;
    margin: 0.5rem;
    border-radius: 10px;

}
.feed__postInput{
    display: flex;

   
}

.feed__postInput > input {
    flex-grow: 1;
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
    border-width:1px;
    margin: 4px;
   
}

.feed__postOptions{
    display: flex;
    justify-content: space-around;
  

}


