.Header{
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__right{
    display: flex;

}

.header__left{
    align-content: center;
}

.header__left>input{
    width: 60%;
    border-width: 1px;
    background-color:whitesmoke;
}

.header__left > input{
 border-radius: 30px;
 padding-left: 30px;
}
#logo{
    font-size: 40px;
    color: cornflowerblue;
}

#search{
    margin-top: 8px;
    margin-left: 3px;
    position: absolute
}